{% extends 'header.html' %}

{% block content %}
   <div class="nav">
        <h2>– PLAYERS –</h2>
        <table class="content-nav">
            <thead>
              <tr>
                  <td>#</td>
                  <td>Player</td>
                  <td>Club</td>
                  <td>Cost</td>
              </tr>
            </thead>
          </table>
    </div>
    <div class="content">
        <table class="playerss">
          {% for player in players %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{player.name}}</td>
            <td>{{player.club}}</td>
            <td>{{player.cost}}</td>
           </tr>
          {% endfor %}
          
          </table>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta sequi quia eos cupiditate rerum accusantium odit enim, expedita, architecto error dignissimos voluptatibus. Nisi illo, maiores fugit amet neque eveniet!</p>
    </div>
{% endblock %}
